<div *ngIf="timetable">
  <h2>{{ timetable.displayType === 0 ? "Departures" : "Arrivals" }}</h2>
  <h3>{{ timetable.stop.name }}</h3>
  <!-- <div>
    <label>Type:
      <input [(ngModel)]="type" placeholder="type" />
    </label>
  </div> -->
  <ul>
    <div *ngIf="timetable.displayType === 0">
      <li *ngFor="let departure of timetable.departures">
        <strong>{{ departure.line.id }}:</strong> {{ departure.time | date:'HH:mm' }}
      </li>
    </div>
    <div *ngIf="timetable.displayType === 1">
      <li *ngFor="let arrival of timetable.arrivalEstimates">
        <strong>{{ arrival.line.id }}</strong> arriving in {{ arrival.arrivesIn | number:'1.0-0' }} minutes <em>{{ arrival.isRealtimeEstimate ? "realtime" : "" }}</em>
      </li>
    </div>
  </ul>
</div>
